* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Tajwal";
}

body {
  background-color: #191f2b !important;
}

p {
  color: #aaa;
  direction: rtl;
  text-align: left;
}

.sperator {
  height: 1px;
  width: 100%;
  background-color: #c5bcbc1f;
  margin-bottom: 24px;
}

.section {
  border-radius: 12px;
  background-color: #2b303d;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(255, 255, 255, 0.1);
}

#form > input {
  margin-bottom: 20px !important;
}
#image-container > p {
  position: absolute;
}
select,
option,
input {
  color: black;
}
input,
select {
  border-radius: 6px;
}
.btn-primary {
  width: 80%;
  padding: 4px 12px;
  border-radius: 8px;
  margin-top: 20px;
  border: 0;
}

@media print {
  img {
    /* visibility: hidden; */
    /* width: 16cm;
    height: 7cm; */
  }
  #image-container {
    transform: translateY(60%) rotate(-90deg);
    transform-origin: center;
  }
  #print {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  #image-container p {
    color: black;
  }
}
